@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.width_box {
  width: 225px;
  font-size: 16px;
}

.two_box:first-child {
  margin-left: 0;
}

.two_box {
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

.content_box {
  display: table;
}

.table_box:first-child {
  padding-left: 0;
}

.table_box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.inline_box:first-child {
  margin-left: 0;
}

.inline_box {
  display: inline-block;
  margin-left: 50px;
  box-sizing: border-box;
  vertical-align: middle;
}

.flex_box {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.box_flex {
  box-sizing: border-box;
}

.margin_box {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.margin___box {
  display: inline-block;
  width: 100%;
  padding-left: 350px;
  box-sizing: border-box;
  margin-left: -300px;
}

/* ここに書いてね */