@charset "UTF-8";

/* 回答はここに書いてね */
.q4__box {
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.two_box:first-child {
  margin: 0;
}

.two_box {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.six_box {
  padding: 20px 0;
  display: table-cell;
}

.pink {
  background-color: #fdc8b8;
  width: 100px;
}

.purple {
  background-color: #e0abd9;
}

.blue {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow {
  background-color: #e5d32e;
  flex: 1;
}

.red {
  background-color: #ec8f9a;
  flex: 1;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
